<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>COOLCODERS/Register</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" text="text/css" href="css/bootstrap.min.css" >
<!-- css -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/sign and register.css" />
    
<!-- js -->
<!-- <script src="/js/register.js"></script> -->
<script>

</script>
</head>
<body ng-app="myApp" ng-controller="UserController" >

<div class="container">

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <div class="form">
		<form  type=get action=home.html role="form" ng-submit="regiUser(users)">
			<h2 style="color:white;">Please Sign Up <small style="color:white;">It's free and always will be.</small></h2>
			<hr class="colorgraph">
			
				
					<div class="form-group">
                        <input type="text" name="first_name" id="first_name" ng-model="users.name" class="form-control input-lg" placeholder="Name" tabindex="1">
					</div>
				
		
			
			<div class="form-group">
				<input type="text" name="email" id="id" ng-model="users.id" class="form-control input-lg" placeholder="Id" tabindex="4">
			</div>
			<div class="form-group">
				<input type="text" name="loginid" id="loginid" ng-model="users.loginid"class="form-control input-lg" placeholder="Login Id" tabindex="3">
			</div>
			
					<div class="form-group">
						<input type="password" name="password" id="password" ng-model="users.password" class="form-control input-lg" placeholder="Password" tabindex="5">
					</div>
				
					
		
			
			
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-6 col-md-6"><button type="submit"  class="btn btn-primary btn-block btn-lg">Submit</button></div>
				<div class="col-xs-6 col-md-6"><a href="index.html" class="btn btn-success btn-block btn-lg">Cancel</a></div>
			</div>
		</form>
	</div>
</div>
</div>
<script src="js/angular/angular.js"></script>


		<script src="js/app.js"></script>
		<script src="js/user_controller.js"></script>
		<script src="js/user_service.js"></script>
</div>
</body>
</html>