<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>COOLCODERS/Signin</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" text="text/css" href="css/bootstrap.min.css" >
<!-- css -->
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/sign and register.css" />
    
<!-- js -->
<!-- <script src="/js/signin.js"></script> -->
<script>

</script>
</head>
<body ng-app="myApp" ng-controller="UserController">
<div class="container">
 <div class="col-md-8">
	<div id="login-box" ng-submit="doLogin(users)">
		<div class="logo">
			<img src="resources/img/login1.png" class="img img-responsive img-circle center-block" height="120" width="120"/>
			<h1 class="logo-caption"><span class="tweak"><strong>L</strong></span><strong>ogin</strong></h1>
		</div><!-- /.logo -->
		<div class="controls">
			<input type="text" name="username" ng-model="users.id" placeholder="Username" class="form-control" />
			<input type="text" name="password" ng-model="users.pwd" placeholder="Password" class="form-control" /><br>
			<a href="home.html" class="btn btn-primary btn-block btn-md">signin</a>
		</div><!-- /.controls -->
	</div><!-- /#login-box -->
	</div>
	<div class="register" style="color:white;">
	 <div class="col-md-4" >
	 <h2>If you aren't registered</h2>
	 <h4>Register,more to see!</h4>
	 <a href="register.html" class="btn btn-success" role="button">COMMENT</a>
	 
	 
	 </div>
	 </div>
</div><!-- /.container -->
<div id="particles-js"></div>
</body>
</html>