<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>COOLCODERS/Signin</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" text="text/css" href="css/bootstrap.min.css">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



<!-- Latest compiled JavaScript -->

<!-- css -->
<link
	href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,400italic'
	rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/sign and register.css" />

<!-- js -->
<!--  <script src="/js/signin.js"></script>  -->
<script>
	
</script>
</head>
<body ng-app="myApp" ng-controller="UserController">
	<div class="container">
		<div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
			<div id="login-box">
				<div class="logo">
					<img src="resources/img/login1.png"
						class="img img-responsive img-circle center-block" height="120"
						width="120" />
					<h1 class="logo-caption">
						<span class="tweak"><strong>L</strong></span><strong>ogin</strong>
					</h1>
				</div>
				<!-- /.logo -->
				<form ng-submit="doLogins(users)" >
				<div class="controls">
					<input type="text" name="username" ng-model="users.name"
						placeholder="Username" class="form-control" /> 
				    <input type="password" name="password" ng-model="users.password" 
						placeholder="Password" class="form-control" /><br>
					<button type="submit" class="btn btn-warning btn-block btn-md">Submit</button>
					<a href="index.html" class="btn btn-success btn-block btn-sm"
						role="button">Cancel</a>
						
				</div>
				</form>	
				<!-- /.controls -->
			</div>
			<!-- /#login-box -->
		</div>
	
		
		<script src="js/angular/angular.js"></script>
		
		
		<script src="js/app.js"></script>
		<script src="js/user_controller.js"></script>
		<script src="js/user_service.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
		<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4" style="color: white;">
			<h2>If you aren't registered</h2>
			<h4>Register,more to see!</h4>
			<a href="register.html" class="btn btn-success  btn-md"
				role="button">REGISTER</a>
			<a href="" ng-click="getAll()" class="btn btn-success  btn-md"
				role="button">getAllUserss</a>

		</div>
	</div>


	
	<!-- /.container -->


</body>
</html>